body {
  font-family: sans-serif;
}

header {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 150px;
}

nav {
  width: 100%;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
}

nav li {
  list-style: none;
  float: left;
  padding: 10px;
  border: 1px #000000 solid;
  margin: 0px 5px;
}

.lunch-menu {
  span {
    font-style: italic;
  }

  .vitamins {
    color: #FF0000;
  }
}
